.global-container {
    width: 100%;
    height: 100vh;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
}



.lateral-container {
    width: 5%;
    height: 100%;
    /* background-color: cyan; */
}

.central-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.topbar-container {
    width: 100%;
    height: 20%;
    /* background-color: blue; */
    padding-top: 24px;
    padding-right: 24px;
}

.user-global-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    /* background-color: yellow; */
}

.soon-global-container {
    width: 100%;
    height: 10%;
    margin-top: 32px;
    margin-right: 24px;
    /* background-color: red; */
}

.perfil-container {
    width: 40%;
    height: 100%;
    /* background-color: blueviolet; */
}

.global-form-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: chocolate; */

}

.form-container {
    width: 100%;
    height: 100%;
    padding-right: 24px;
    padding-top: 32px;
    /* background-color: darkgreen; */
}

.button-container {
    width: 100%;
    height: 10%;
    display: flex;
    padding-right: 24px;
    /* background-color: deeppink; */
}

.previous-button-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    /* background-color: aqua; */
}

.button-previous-step {
    width: 25%;
    height: 40%;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: #649FBF;

    p {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
    }
}

.button-previous-step.invisible {
    visibility: hidden;
}

.next-button-container {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #F2F2F2;
}

.button-next-step {
    width: 25%;
    height: 85%;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: #959595;

    p {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
    }
}

.button-next-step.enabled {
    background-color: #649FBF;
}